@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model Epishop.Models.Blocks.Eventblock

<div class="container">
    @Html.PropertyFor(m => m.Name)
    @Html.PropertyFor(m => m.Place)
    @Html.PropertyFor(m => m.DateTime)
    <img src="@Url.ContentUrl(Model.Image)"/>
</div>